body{
    background-color: rgb(226, 226, 226);
    font-size: 13px;
}


.firstTabNav{
    background-color: white;
    margin-bottom: 1px;
}

.secondTab{
    color: #858585;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.secondTabNav{
    background: #ffffff;
    height: fit-content;
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 40px;
}

.main-card-div{
    width: fit-content;
    background-color: white;
    border-radius: 15px;
    padding-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.hyper-link{
    color: rgb(173, 173, 173);
}

.hyper-link:hover{
    color: blue;
}

.book-box{
    border: 1px solid rgb(233, 233, 233);
    width: max-content;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.main-book{
    padding-left: 50px;
    padding-right: 50px;
    min-width: 200px;
    margin-bottom: 10px;
}

.offer-tag{
    margin-left: 10px;
    width: fit-content;
    margin-top: 15px;
    background: rgb(255, 196, 0);
    color: white;
    font-family: monospace;
}

.first-footer{
    background-color: #f1f1f1;
    padding: 20px;
}

.ff-listHead{
    font-size: 16px;
    color: rgb(31, 31, 31);
    margin-bottom: 5px;

}

.ff-li{
    font-size: 11px;
    color: rgb(87, 87, 87);
}

.second-footer{
    background-color: #535252;
    padding: 20px;
}

.sf-listHead{
    font-size: 16px;
    color: rgb(41, 40, 40);
    margin-bottom: 5px;

}

.sf-li{
    font-size: 11px;
    color: white;
}

.theme-hyper-link{
    color: #858585;
}
.theme-hyper-link:hover{
    color: #ffb007;
}

.author_name_text{
    color: #ffb007;
}

.offer-table{
    border: 1px solid rgb(255, 166, 0);
    background-color: #ffe9a1;
    border-radius: 10px;
    margin-bottom: 30px;
}

.product-table{
    border: 1px solid rgb(143, 143, 143);
    background-color: #d8d8d8;
    border-radius: 10px;
    margin-bottom: 20px;
}

.add-to-cart-btn{
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}
.buy-this-ebook{
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}